<div id="settings_plugin_usb_accelerometer" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#settings_usb_accelerometer_collapse">
            USB Accelerometer Plugin
        </a>
    </div>
    <div id="settings_usb_accelerometer_collapse" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="control-group">
                <label class="control-label" for="settings_usb_accelerometer_port">Serial Port</label>
                <div class="controls">
                    <input type="text" id="settings_usb_accelerometer_port" data-bind="value: settings.plugins.usb_accelerometer.serial_port"/>
                </div>
            </div>
        </div>
    </div>
</div>
